.editor {
  display: flex;
  flex-direction: column;
  position: relative;
  /* position: absolute; */
}
.editorH {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}
.editorL,
.editorR {
  /* width: 50%; */
  margin: 3vh;
}
.editorL {
  width: 40%;
}
.editorR {
  width: 60%;
}
.quillEditor {
  margin-top: 3vh;
  height: 80%;
}

.themeSwitcher {
  margin-top: 3vh;
  display: flex;
  align-items: center;
}
.themeSwitcher > label {
  font-size: 20px;
  font-family: poppins;
  font-weight: 600;
}
.themeSwitcher > select {
  height: 5vh;
  margin-left: 3vh;
  border: 2px solid blueviolet;
  font-size: 15px;
  padding: 5px;
}
.themeSwitcher > select > option {
  box-shadow: none;
}

.submitBtn {
  color: white;
  position: relative;
  margin: 5% auto;
    background-color: #21743d;
  padding: 2vh 4vh;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.submitBtn:hover {
  box-shadow: 0px 15px 20px rgba(66, 157, 121, 0.4);
}

@media screen and (max-width: 426px) {
  .editorH {
    flex-direction: column;
  }
  .editorL,
  .editorR {
    width: auto;
  }
  .quillEditor {
    height: 40vh;
  }
  .submitBtn {
    margin: 15% auto;
  }
}
