.inputControl {
  border-radius: 3px;
  height: 8vh;
  padding: 0 2vh;
  color: rgb(0, 0, 0);
  background-color: #dad3d3;
  border: none;
  overflow: visible;
  line-height: 1.15;
  font-size: 100%;
  font-family: "Cabin", Sans-Serif;
  margin-bottom: 0.5rem;
}

.inputControl:focus {
  background-color: rgb(230, 230, 230);
  outline: 2px solid violet;
  transition: 0.2s;
}
.control {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
.headingControl {
  margin-top: 0.5rem;
  text-align: left;
  letter-spacing: 0.7px;
  font-weight: 600;
  line-height: 1.75;
  color: rgb(52, 51, 51);
  font-family: "Cabin", Sans-Serif;
  font-size: 16px;
}

@media screen and (max-width: 769px) {
  .inputControl {
    height: 6vh;
  }
}
