.card {
  position: relative;
  box-sizing: border-box;
  display: flex;

  text-decoration: none;
  border: 2px solid black;
  /* background-color: #b9ffc9; */
  margin: auto;
  margin-top: 30px;
  background-size: cover;
}

.cardLeft,
.cardRight {
  width: 100%;
}
.cardimage > img {
  margin-right: 2vh;
  height: 30vh;
  width: 90%;
  float: left;
}

.cardRight {
  text-align: left;
  padding: 2vh 2vh 1vh 2vh;
}
.cardRight > h2 {
  font-family: poppins;
  font-weight: 600;
}
.cardRight > h2:hover {
  color: blueviolet;
  cursor: pointer;
}
.cardTitle > span {
  font-style: italic;
  color: rgb(177, 87, 87);
}
.content {
  padding: 2vh 2vh 0vh 0vh;
  height: 20vh;
  overflow: hidden;
  line-height: 1.3;
  color: black;
  font-size: 17px;
}
.readMore > h4 {
  float: left;
  margin: 3vh auto;
  padding: 1vh;
  display: flex;
  border-top: 2px solid rgb(255, 128, 0);
  border-bottom: 2px solid rgb(255, 128, 0);
  text-decoration: none;
}
.readMore:hover {
  color: rgb(255, 128, 0);
  cursor: pointer;
}
