.mainDiv {
  display: flex;
  flex-direction: row;
  margin: 4vh;
}

.blogpart {
  width: 70%;
  margin: 5vh;
  border: 2px solid black;
  padding: 5vh;
  text-align: justify;
}
.image {
  float: left;
  width: 40vh;
  margin: 1vh;
}
.blogpart > h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 2vh;
  color: aqua;
  font-family: poppins;
}
.blogpart > span {
  font-size: 18px;
  line-break: auto;
}
p {
  padding-bottom: 2vh;
}
strong {
  font-size: 20px;
}
.blogform {
  width: 30%;
}

@media screen and (max-width: 769px) {
  .mainDiv{
    flex-direction: column;
    margin: 2vh;
  }
  .blogform,.blogpart{
    width: auto;
    margin: 2vh;
    padding: 2vh;
  }
  .blogform{
    margin: auto 15vh;
  }
}

