.loginMain {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headingStudent {
  margin-bottom: 5%;
}
.googleSign {
  z-index: 1;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  margin: 5% 0%;
  padding: 3%;
  width: 100%;
  color: white;
  background-color: #4f86ec;
}
.googleSign:hover {
  background-color: #5691ff;
}
.btn {
  position: absolute;
  border-bottom: 2px solid rebeccapurple;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  transition: 0.5s;
}

.toggle {
  margin-bottom: 3vh;
  position: relative;
  display: flex;
  height: 5vh;
  /* box-shadow: 0 0 10px 5px rgb(199, 199, 199); */
}

.toggle > button {
  font-size: 20px;
  width: 50%;
  cursor: pointer;
  position: relative;
  height: 5vh;
  border: none;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.formContainer {
  position: relative;
}
.loginFormAdmin {
  position: absolute;
  width: 100%;
  left: 0;
  /* padding: 0 vh; */
  transition: 0.5s;
}
.signFormAdmin {
  position: absolute;
  width: 100%;
  left: -121%;
  /* padding: 0 3vh; */
  transition: 0.5s;
}
.loginContainer {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 70vh;
  /* height: 80%; */
  /* height: 45vh; */
  /* margin: auto 5%; */
  /* background-color: #696363; */
  padding: 3%;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.6); */
  /* margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}
/* .loginContainer {

  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-width: 350px;
  border-radius: 5px;
  border-top: 3px solid #4a4a4a;
  border-bottom: 2px solid #4a4a4a;
  padding: 20px;
  background-color: #fff;
  margin: auto;
  z-index: 1;
  
} */
/* .loginContainer:hover {
  box-shadow: 0 20px 25px 5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transition: 300ms ease-in-out all;
} */

.loginButton {
  display: block;
  margin: auto;
  margin-top: 1rem;
  background-color: #4a4a4a;
  padding: 10px 16px;
  color: white;
  /* font-size: 1.25rem; */
  cursor: pointer;
  border: transparent;
  border-radius: 0.25rem;
  font-weight: 700;
  /* height: 35px; */
  letter-spacing: 1px;
  overflow: visible;
  font-family: "Cabin", Sans-Serif;
  font-size: 100%;
  /* line-height: 1.15; */
}
.loginButton:hover {
  background-color: #696363;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1);
  transition: 300ms ease-in-out all;
}
.loginSubmitButton {
  text-decoration: none;
}
