.main {
  margin: 3% 5%;
  width: 90%;
}

.container {
  margin: 2% auto;
  text-align: left;
  line-height: 1.3;
  font-size: 18px;
}

.content {
  display: flex;
  gap: 10%;
  flex-direction: row;
}
