.mainDiv {
  margin: auto;
}

.goBack {
  display: flex;
  margin: 1vh;
  /* margin-top: -18%; */
  background-color: #d60000;
  padding: 2vh ;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  /* border-radius: 45px; */
  transition: all 0.3s ease 0s;
}

.goBack:hover {
  box-shadow: 0px 15px 20px #ff9494;
}
