.mainDiv {
  display: flex;
  gap: 4%;
  margin: 0 15%;
}

.subdiv {
  background-color: #21743d;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2% 3%;
  color: #ffffff;
}

.heading {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
}
.subdiv > p {
  color: #fff;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .mainDiv {
    display: flex;
    flex-direction: column;
  }
  .subdiv {
    margin-bottom: 5%;
  }
}
