.mainDiv {
  display: flex;
  gap: 2%;
  margin: 0 4%;
}

.subdiv {
  background-color: #bedad7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2% 3%;
  color: #ffffff;
}

.heading {
  margin-bottom: 10px;
}
.subdiv > p {
  color: black;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .mainDiv {
    display: flex;
    flex-direction: column;
  }
  .subdiv {
    margin-bottom: 5%;
  }
}
