
.directorContainer {
  display: flex;
  margin: 5vh 15%;
}

.directorImage {
  float: left;
  display: flex;
  flex-direction: row;
}
.directorImg {
  height: 50vh;
  width: 80vh;
  border: 2px solid black;
  margin: 0 3vh;
}

.directorText > h3 {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: #007bb2;
}

.directorText > p {
  text-align: left;
  margin-top: 5vh;
  font-size: 16px;
  color: #626A77;
  line-height: 28px;
  font-family: Poppins, sans-serif;
}
