.navbar {
  position: relative;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background-color: white;
  z-index: 1;
  -moz-box-shadow: 0 5px 10px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 5px 10px rgba(182, 182, 182, 0.75);
  box-shadow: 0px 5px 10px rgba(182, 182, 182, 0.75);
}
.logoBox {
  position: absolute;
  left: 5%;
  cursor: pointer;
}
.nav-links {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.headingNav {
  text-align: center;
  margin: 4vh 8px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.imageNav {
  display: flex;
  height: 40%;
  width: 15vh;
  float: left;
}
.imageNav2 {
  height: 100%;
  width: 15vh;
  justify-self: end;
}
.linkRight {
  height: 9vh;
  width: 20vh;
  position: absolute;
  right: 2%;
}
.barsNav {
  display: none;
}
.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.adminDropdownHide {
  display: none;
}
.adminDropdownShow {
  display: block;
}
/* .responsiveNav {
  display: none;
} */

@media screen and (max-width: 769px) {
  .headingNav:not(:first-child) {
    display: none;
  }
  .barsNav {
    float: right;
    display: block;
  }
  .navbar {
    justify-content: left;
    padding: 4%;
  }
  .logoBox {
    position: unset;
  }
}

@media screen and (max-width: 769px) {
  .responsiveNav {
    position: fixed;
    display: block;
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .barsNav {
    position: fixed;
    right: 10px;
  }
  .linkRight {
    display: none;
  }
  .responsiveNav .headingNav {
    /* float: none; */
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1%;
  }
}
