.navbar {
  position: relative;
  display: flex;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 5px 10px #00000026;
  box-sizing: border-box;
  letter-spacing: 0;
  outline: 0;
  height: 10vh;
  padding: 0 10vh;
}

.links {
  display: flex;
  width: auto;
  margin: auto;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 15px;
  color: #0b1c39;
  height: inherit;
  font-weight: bold;
  font-family: "Poppins", Sans-Serif;
}

.image {
  width: 10%;
}

.image1 {
  position: absolute;
  width: 10vh;
  right: 10vh;
}
