.ourTeam {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
}

.teamAbout {
  margin-bottom: 3vh;
}
.heading {
  font-size: 40px;
}
.subtitle {
  font-size: 20px;
}

.team {
  position: absolute;
  display: flex;
  /* flex-direction: row; */
  overflow: auto;
  margin: auto;
  width: 100%;
  border: 5px solid #ffffff;
  border-radius: 10px;
  gap: 10vh;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.team::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.member {
  border: 1px solid #124122;
  padding: 3vh 10vh;
  width: 80vh;
  height: 40vh;
  margin: 0 auto ;
}

.buttonContianer {
  top: 43%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.imageTeam > img {
  border: 1px solid #ddd;
  padding: 3px;
  width: 15vh;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgb(187, 187, 187);
}

.fixDiv {
  position: relative;
  height: 45vh;
}

@media screen and (max-width:426px){
  .team{
    margin: auto;
  }
  .member{
    width: auto;
  }
}