.mainContainer {
  margin: 4vh 0;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 3% 5%;
  gap: 10%;
}
.imageContainer {
  /* display: flex; */
  /* width: 55%; */
  /* height: 60vh; */
  border: 0.5px solid gray;
  padding: 2px;
  border-radius: 7px;
  color: #4a4a4a;
  min-height: 200px;
  box-shadow: 0 2px 4px #00000026;
  background: #f6f8fb;
  border: 1px solid #d2d9e7;
  margin: auto;
}
.advertisement {
  width: 60%;
  color: #4a4a4a;
}
.notice {
  border-radius: 15px;
  width: 30%;
  margin: 5px auto;
  background-color: antiquewhite;
  padding: 2vh;
}
.image {
  height: 400px;
  width: 100%;
}
