.mainContainer {
  margin: 4vh 0;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 3% 5%;
  gap: 5%;
}
.imageContainer {
  position: relative;
  border: 0.5px solid gray;
  padding: 2px;
  border-radius: 7px;
  color: #4a4a4a;
  min-height: 200px;
  box-shadow: 0 2px 4px #00000026;
  background: #f6f8fb;
  border: 1px solid #d2d9e7;
  margin: auto;
}
.imageContainer:hover{
  cursor: pointer;
}
.leftbutton {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  line-height: 15px;
  margin: 6px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(-50%);
}
.rightbutton {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  line-height: 15px;
  margin: 6px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(-50%);
}
.leftbutton:hover,
.rightbutton:hover {
  background-color: #21743d;
}
.advertisement {
  width: 70%;
  color: #4a4a4a;
}
.notice {
  position: relative;
  border-radius: 15px;
  border-top: none;
  border: 2px solid black;
  width: 25%;
  height: 100%;
  /* margin: 5% auto; */
  /* background-color: rgb(189, 189, 189); */
  /* padding: 0.5%; */
}
.noticeHead {
  font-family: courier new;
  border-radius: 15px 15px 0 0;
  padding: 4% 0;
  background-color: #c4c4c4;
  font-weight: 700;
  font-size: 25px;
}
.notices {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 2vh;
  margin: 6% 4%;
  overflow: auto;
  height: 40vh;

  /* margin-top: 10%; */
  text-align: left;
}
.notices > li {
  padding: 1vh 0;
}
.image {
  height: 400px;
  width: 100%;
}

@media screen and (max-width: 769px) {
  .container {
    margin: 0 3vh;
    gap: 3%;
  }
  .advertisement {
    width: 65%;
  }
  .notice {
    width: 32%;
  }
  .image {
    height: 250px;
  }
}
@media screen and (max-width: 426px) {
  .container {
    flex-direction: column;
    margin: 0;
  }
  .advertisement,
  .notice {
    width: auto;
  }
  .notice {
    margin: 3vh 5vh;
    height: 40vh;
  }
}
