@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.contestsMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3vh;
  width: 100%;
  padding: 20px 0;
  outline: 0;
  letter-spacing: 0;
}
.contestsMain > h2 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: black;
}
.contestNames {
  font-size: 17px;
  padding: 2% 20%;
  font-family: "Open Sans", sans-serif;
  color: #6e6f71;
}
.contestLinks {
  margin: 5px;
}
.contestLinks > a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
  text-decoration: none;
  color: #363636;
}
