.whoarewe {
  font-family: "Poppins", sans-serif;
  margin: 5%;
}

.advertisement > h2{
  font-size: 40px;
  width: 100%;
  margin: 1% auto;
  /* margin: 30px auto; */
  color: #000000;
}

.description {
  display: flex;
}

.image {
  width: 40%;
  /* padding: 4% 5%; */
}

.paragraph {
  /* margin: 4% 4% 4% 0%; */
  padding: 4% 4%;
  text-align: left;
  font-size: 18px;
  color: #4a4a4a;
  background: #f6f8fb;
}

.paragraph2 {
  /* width: 100%; */
  margin: 4%;
  padding: 4% 4%;
  text-align: left;
  font-size: 18px;
  background: #f6f8fb;
  font-family: "Poppins", sans-serif;
  color: #4a4a4a;
}
ul {
  list-style: none;
}

.listBlock {
  margin: 0% 0% 3% 0%;
  line-height: 1.5;
  color: #4a4a4a;
}

.heading {
  margin-bottom: 10px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .description {
    display: flex;
    flex-direction: column;
  }
  .image {
    width: 50%;
    margin: 2% auto;
  }
  .paragraph {
    margin-top: 5%;
  }
}
