@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

.App {
  position: absolute;
  background-color: #fff;
  font-family: sans-serif;
  text-align: center;
  /* margin-top: 10%; */
  /* padding: 4%; */
  width: 100%;
  scroll-behavior: smooth;
}

.FooterBottom {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.LinkBottom {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4a4a4a;
  justify-content: center;
  padding: 10px;
}

@media screen and (max-width: 764px) {
}
